@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import url('https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css');
@import 'fonts';

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fond {
  0% { background-image: url('../images/1.gif'); }
  25% { background-image: url('../images/2.gif'); }
  50% { background-image: url('../images/3.gif'); }
  75% { background-image: url('../images/4.gif'); }
  100% { background-image: url('../images/1.gif'); }
}

#container {
  font-family: 'Open Sans', sans-serif;
  background-repeat: repeat;
  background-size: 33%;
  animation: fond 20s infinite linear;
}

.custom-br {
  border-radius: 4% 4% 4% 4% / 20% 20% 20% 20%;
}

#circle {
  box-shadow: 0 0 0 20px white;
}

.button {
  left: -12px;
  position: relative;
  max-width: none;
  height: 130px;
  transition: transform linear 0.5s;
}

.rotate {
  animation: rotate 1s infinite linear;
}

.sound:last-child {
  animation: tada 1.5s infinite;
}
